// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
//
// Copyright (C) 2004 C. Lawrence Zitnick III <larryz@microsoft.com>
// Copyright (C) 2010 Hermann Seib <him@hermannseib.com>
// Copyright (C) 2015 Markus Kitsinger (SwooshyCueb) <root@swooshalicio.us>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
//#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

ABOUT_0                 BITMAP                  "res/About0-new.bmp"
IDB_BITMAP38            BITMAP                  "res/roundSwitch0.bmp"
IDB_BITMAP39            BITMAP                  "res/squareSwitch0.bmp"
BACKGROUND_0            BITMAP                  "res/background0-new.bmp"
PICK_1                  BITMAP                  "res/pickPosition1.bmp"
PICK_UP_1               BITMAP                  "res/pickup1.bmp"
VU_METER_0              BITMAP                  "res/vuMeterCircle0.bmp"
PALM_SLIDER_BACKGROUND_0 BITMAP                  "res/PalmSliderBackground0.bmp"
PALM_SLIDER_HANDLE_1    BITMAP                  "res/PalmSliderHandle1.bmp"
CHORD_DIRECTION_1       BITMAP                  "res/chordDirection1.bmp"
KNOB_SHADOW_1           BITMAP                  "res/chromeKnob3Shadow-1.bmp"
TUNE_KNOB_0             BITMAP                  "res/tuneKnob0-new.bmp"
PICK_TYPE_3             BITMAP                  "res/pickType3.bmp"
STOP_SWITCH_0           BITMAP                  "res/stopSwitch.bmp"
REGISTER_0              BITMAP                  "res/registerButton1.bmp"
CHORD_ON_0              BITMAP                  "res/chordOn0.bmp"
KNOB_SLIDE_0            BITMAP                  "res/chromeKnob3Shadow-Slide0.bmp"
ROCKER_SWITCH_4         BITMAP                  "res/rockerSwitch4.bmp"
//WELCOME_0               BITMAP                  "res/welcome0.bmp"
BODY_SELECTOR0          BITMAP                  "res/bodySelector1.bmp"
BODIES_2                BITMAP                  "res/bodies4-new.bmp"
GUITAR_BOTTOM_1         BITMAP                  "res/guitarBottom3-new.bmp"
GUITAR_TOP_1            BITMAP                  "res/guitarTop3-new.bmp"
BACKGROUND_BETA_8_3     BITMAP                  "res/All8Beta4-new.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VS_VERSION_INFO 1
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,1,1,2
 PRODUCTVERSION 2,1,1,2
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", " "
            VALUE "FileDescription", "Revitar 2 - Swooshy's Fork Beta 2.1.1.2"
            VALUE "FileVersion", "2, 1, 1, 2"
            VALUE "InternalName", "Revitar 2.1.1.2"
            VALUE "LegalCopyright", "Mozilla Public License v2.0. See included license file."
            VALUE "OriginalFilename", "Revitar2.dll"
            VALUE "ProductName", "Revitar 2"
            VALUE "ProductVersion", "2, 1, 1, 2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// FXB
//

IDR_PRESETBANK          FXB                     "res/preset.fxb"
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
//
// VSTXML
//

RC_VSTXML             VSTXML                "res/librevitar.vstxml"
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
//
// MANIFEST
//

#define MANIFEST_RESOURCE_ID 2
#define RT_MANIFEST 24
MANIFEST_RESOURCE_ID  RT_MANIFEST            "res/vst.manifest"
/////////////////////////////////////////////////////////////////////////////
